:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  color: var(--primary-text-color);
}

header {
  background-color: #ffffff;
}
/* logo */
.web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  margin-top: 25px;
  margin-left: 215px;
}
.studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--primary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* Take off dots from all ul lists */
ul {
  list-style: none;
}

/* Hero */
.hero-title {
  background-color: #2f303a;
  color: #ffffff;
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Features */
.features-list {
}

/* Team */

/* Button */
.button {
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
