:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  background-color: #e5e5e5;
}

header {
  background-color: #ffffff;
}
/* logo */
.web {
  color: var(--accent-color);
}
.studio {
  color: #000000;
}
.web,
.studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
/* footer logo */
.studio.foot {
  color: #ffffff;
}

/* site-nav */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--primary-text-color);
}

/* Take off dots from all ul lists */
ul {
  list-style: none;
}
/* Take off underline from all links */
a {
  text-decoration: none;
}

/* Hero */
.hero-title {
  background-color: #2f303a;
  color: #ffffff;
}

/* Button */
.button {
  background-color: var(--accent-color);
  color: #ffffff;
  text-align: center;
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Features */
.features-list {
}

/* Team */

/* Footer */
footer {
  background-color: #2f303a;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
address > span {
  color: #ffffff;
}
